.wrapper {
    display: flex;
    align-items: center;
    width: 40%;
}

.input {
    display: inline;
    margin: 0 auto;
    width: 100%;
}

.label {
    padding: 5px 10px;
    text-align: center;
    font-weight: 600;
}